* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,70');

html {
  font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

body {
  color: #353535;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #268bd2;
  text-decoration: none;
}

a strong {
  color: inherit;
}

/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}

/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
  margin-bottom: 0;
}

.attribution {
  font-style: italic;
  float: right;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

img[class^="align-"] {
  display: inline;
  margin: 0;
  border-radius: 0;
}

img.align-top {
  vertical-align: text-top;
}

img.align-middle {
  vertical-align: middle;
}

/* Tables */
table {
  margin-bottom: 1rem;
  /*width: 100%;*/
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* Admonition */
.admonition {
  background-color: #e7f0fb;
  margin-bottom: .7rem;
}

.admonition p {
  padding: .5rem 1rem;
}

.admonition p:last-child {
  margin-bottom: 0;
}

.admonition-title {
  background-color: #70a3e1;
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.attention.admonition, .caution.admonition, .warning.admonition  {
  background-color: #fdf3c8;
}
.attention > .admonition-title, .caution > .admonition-title, .warning > .admonition-title {
  background-color: #efb974;
}

.danger.admonition, .error.admonition  {
  background-color: #fef2f1;
}
.danger > .admonition-title, .error > .admonition-title {
  background-color: #f69a90;
}

.hint.admonition, .tip.admonition  {
  background-color: #d6fdf5;
}
.hint > .admonition-title, .tip > .admonition-title {
  background-color: #00c69d;
}


.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

/* literal blocks and code */
.literal-block, .highlight {
  overflow-x: auto;
}

.highlighttable {
  width: 100%;
  border: none;
}

.highlight, .linenodiv {
  font-size: .8rem;
}

tbody tr td.linenos, tbody tr td.code {
  vertical-align: top;
  white-space: nowrap;
  /*background-color: #fff;*/
  border: none;
  padding: 0;
  margin: 0;
}

td.linenos {
  max-width: 5rem;
}

td.code {
  max-width: 0;
  width: 100%;
}

.highlighttable pre, .highlight pre {
  margin: 0;
}

.highlighttable div {
  padding: .5rem;
}

.highlighttable, .highlight {
  background-color: #f9f9f9;
}

.highlight {
  padding: .5rem;
}

.linenodiv, .lineno, .linenodiv a {
  color: #a0a0a0;
  font-weight: 300;
}

tt {
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
  padding: .25em .5em;
}
