<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  {# <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i" rel="stylesheet">#}
  <link href="{{ SITEURL }}/theme/css/railway_2.css" rel="stylesheet">
  <link href="{{ SITEURL }}/theme/css/syntax_0.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
