<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Some simple stuff comes here...</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item active" href="{{ SITEURL }}/">All</a>
    <a class="sidebar-nav-item" href="{{ SITEURL }}/">some</a>
    <a class="sidebar-nav-item" href="{{ SITEURL }}/">example</a>
    <a class="sidebar-nav-item" href="{{ SITEURL }}/">items</a>
  </nav>

  <div class="sidebar-item">
    <p class="tiny-note">
      <a class="muted" href="https://github.com/thomaswilley/pelicanyan">pelicanyan v0.1</a>
    </p>
  </div>
</div>
